body {
    font-family: "Lucida Console", "Courier New", monospace;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #e7f7f786;
    color: #000;
    position:fixed;
   
    /* slam it to bottom and center*/
    bottom:0;
    left:0;
    right:0;
  }