p {
    font-family: "Lucida Console", "Courier New", monospace;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    background-color: #e7f7f786;
    color: #000;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
  }