:root {
  color-scheme: light dark;
}

body {
  font-family: "Courier New", "Lucida Console", monospace;
  
  /* Experiment with tiling a background image*/
  /* background-image: url("../img/apple-touch-icon.png");
  background-repeat: repeat; */
 
  /* Add stroke to text */
  /* -webkit-text-stroke: 1px rgb(0, 0, 0);
  background-blend-mode: luminosity; */
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #e7f7f786;
    color: #000;
    position:fixed;
   
    /* slam it to bottom*/
    bottom:0;
    left:0;
    right:0;
  }